<div>
    <form (ngSubmit)="submit()">
        <div *ngFor="let question of questions; let j = index">
            <h3>{{question.value}}</h3>
            <ul>
                <li *ngFor="let response of question.responses; let i = index">
                    <label>
                        <input [(ngModel)]="response.value"
                               [name]="question.value + i + j"
                               class="input-group-text"
                               type="text"/>
                    </label>
                </li>
            </ul>
            <div *ngIf="isValide()">Invalide !</div>
            <br>
            <button (click)="clickAddReponse(question)" class="btn btn-primary">Ajouter
                une réponse
            </button>
        </div>
        <input class="btn btn-primary" type="submit"
               value="Enregistrer les modifications"/>
        <input (click)="reset()" class="btn btn-secondary" type="button"
               value="Annuler"/>
    </form>


    <button class="btn btn-secondary"
            data-target="#creationQuestionModalCenter" data-toggle="modal">Ajouter une
        question
    </button>

</div>

<app-modal (onClickTwo)="addQuestion($event)"
           [btnOneText]="'Annuler'"
           [btnTwoText]="'Confirmer'"
           [content]="'Entrez l\'intitulé de la question :'"
           [id]="'creationQuestionModalCenter'"
           [title]="'Création d\'une nouvelle question'"
           [withInput]="true"></app-modal>


