<div>
    <form (ngSubmit)="submit()">
        <div *ngFor="let question of questions; let j = index">
            <h3>{{question.value}}</h3>
            <ul>
                <li *ngFor="let response of question.reponses; let i = index">
                    <input class="form-check-input" type="radio" [name]="'radios' + j"
                           [id]="'radio' + i + j " [value]="'option' + i + j"
                           (click)="changeCorrectResponse(j, i)" required>

                    <label class="form-check-label" [for]="'radio' + i + j">
                        <input [(ngModel)]="response.value"
                               [name]="question.value + i + j"
                               class="input-group-text"
                               type="text"/>
                    </label>
                </li>
            </ul>
            <div *ngIf="isValide()">Invalide !</div>
            <br>
            <button type="button" (click)="clickAddReponse(question)" class="btn btn-primary">Ajouter
                une réponse
            </button>
        </div>
        <button type="button" class="btn btn-secondary"
                data-target="#creationQuestionModalCenter" data-toggle="modal">Ajouter une
            question
        </button>

        <div class="row">
            <div class=" col-md-12 text-center">
            <input class="btn btn-primary" type="submit"
                   value="Enregistrer les modifications"/>
            <input (click)="reset()" class="btn btn-secondary" type="button"
                   value="Annuler"/>
            </div>
        </div>
    </form>


</div>

<app-modal (onClickTwo)="addQuestion($event)"
           [btnOneText]="'Annuler'"
           [btnTwoText]="'Confirmer'"
           [content]="'Entrez l\'intitulé de la question :'"
           [id]="'creationQuestionModalCenter'"
           [title]="'Création d\'une nouvelle question'"
           [withInput]="true"></app-modal>


