<div class="jumbotron container w-75">
    <div class="justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center display-4">Création du quizz</h3>
            </div>
        </div>
        <p class="lead">Vous pouvez ici créer un quizz. Chaque question ne pourra posséder
            qu'une seul réponse.</p>
        <div class="text-body">
            <form>
                <div class="row">
                    <div *ngFor="let question of questions; let j = index"
                         class="col-md-12 text-center card">
                        <h3 class="card-header">{{question.value}}</h3>

                        <ul class="list-group list-group-flush">
                            <li *ngFor="let response of question.reponses; let i = index"
                                class="list-group-item w-100">
                                <input class="form-check-input" type="radio"
                                       [name]="'radios' + j"
                                       [id]="'radio' + i + j " [value]="'option' + i + j"
                                       (click)="changeCorrectResponse(j, i)" required>

                                <label class="form-check-label" [for]="'radio' + i + j">
                                    <input [(ngModel)]="response.value"
                                           [name]="question.value + i + j"
                                           class="input-group-text"
                                           type="text"/>
                                </label>
                            </li>
                        </ul>
                        <div *ngIf="isValide()">Tous les champs doivent être renseignés</div>
                        <br>
                        <button type="button" (click)="clickAddReponse(question)"
                                class="btn btn-primary w-25">Ajouter
                            une réponse
                        </button>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-secondary"
                                data-target="#creationQuestionModalCenter"
                                data-toggle="modal">
                            Ajouter une
                            question
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-12 text-center">
                        <input  *ngIf="isValide()" class="btn btn-primary" type="submit"
                               data-target="#validationModalCenter"
                               data-toggle="modal"
                               value="Enregistrer les modifications" [disabled]="!isValide()"
                       />
                        <input (click)="reset()" class="btn btn-secondary" type="button"
                               value="Annuler"/>
                    </div>
                </div>
            </form>


        </div>
        <!-- Partie modal -->
    </div>
</div>
<app-modal (onClickTwo)="addQuestion($event)"
           [btnOneText]="'Annuler'"
           [btnTwoText]="'Confirmer'"
           [content]="'Entrez l\'intitulé de la question :'"
           [id]="'creationQuestionModalCenter'"
           [title]="'Création d\'une nouvelle question'"
           [withInput]="true"></app-modal>

<app-modal (onClickTwo)="submit()"
           [btnOneText]="'Annuler'"
           [btnTwoText]="'Confirmer'"
           [content]="'Valider l\'enregistrement de ce quizz ?'"
           [id]="'validationModalCenter'"
           [title]="'Enregistrement du quizz'"></app-modal>


<app-loader [hidden]="!showLoader"></app-loader>

