<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li [ngClass]="{'list-group-item' : true}"
          *ngFor="let ligne of coursParCategorieId; let i = index;">
        <h4><img src="data:image/png;base64,{{ligne.image}}" class="rounded-circle" width="70" height="70" alt="mon-image"> {{ligne.titre}}</h4>
        <p>{{ligne.texte}}</p>
        <p>Lien vers le <b>tutoriel vidéo : </b><a href="{{ligne.video}}"
                                         target="_blank"
        > Cliquez ici</a></p>

        <p>Lien vers le <b>site Commerce : </b><a href="{{ligne.lienMarchand}}"
                                         target="_blank"
        >Cliquez ici</a></p>


        <!--Commentaires codés en dur pour le moment : -->

        <form [formGroup]="loginForm">
          <div *ngIf="i == 0">
            <h5>Commentaires : </h5>
            <p>Tom : {{arrayOfComments_1[0].libelle}}</p>
            <p>Céline : {{arrayOfComments_1[1].libelle}}</p>
            <p>Marion :{{arrayOfComments_1[2].libelle}}</p>
          </div>

          <div *ngIf="i == 1">
            <h5>Commentaires : </h5>
            <p>Romain : {{arrayOfComments_2[0].libelle}}</p>
            <p>Bernard : {{arrayOfComments_2[1].libelle}}</p>
            <p>Julie :{{arrayOfComments_2[2].libelle}}</p>
          </div>

          <div *ngIf="i == 2">
            <h5>Commentaires : </h5>
            <p>Claude : {{arrayOfComments_3[0].libelle}}</p>
            <p>Marie : {{arrayOfComments_3[1].libelle}}</p>
            <p>Pauline :{{arrayOfComments_3[2].libelle}}</p>
          </div>

          <p><b>Laissez un commentaire : </b></p>
          <input    type="textarea" id="commentaires" name="commentaires"
                    rows="5" cols="33"
                    style="width:1000px; height: 200px;"
                    formControlName="sendComment"><br>
         <button (click)="sendComment()" class="btn btn-success">Valider </button>
        </form>


    </ul>
  </div>
</div>






