<div class="container" *ngIf="cours">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
            <div class="card shadow my-5">

                <div class="card-header">
                    <h4 class="card-title text-center"><img
                            src="data:image/png;base64,{{cours.image}}"
                            class="rounded-circle" width="70" height="70"
                            alt="mon-image"> {{cours.titre}}</h4>
                </div>

                <div class="card-body">
                    <p>{{cours.texte}}</p>
                    <hr>
                    <ng-container *ngIf="cours.commentaires">
                        <button (click)="majCom()" type="button" class="btn btn-primary m-1" data-toggle="collapse"
                                data-target="#collapse" aria-expanded="false" aria-controls="collapse">{{commentaireBtnLabel()}}</button>
                        <div class="collapse" id="collapse">
                            <div class="card"
                                 *ngFor="let commentaire of cours.commentaires">
                                <div class="card-body m-1">
                                    <h6 class="card-title">{{commentaire.titreCommentaire}}</h6>
                                    <p class="card-text">{{commentaire.texteCommentaire}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
